<!DOCTYPE html>
<html>
<head>
	<title>mangcambien</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
  	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  	<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<style type="text/css">
		.w3-lobster {
  			font-family: "Lobster", serif;
		}
		#on{
			width: 65px;
			height: 50px;
			background-color: #228B22;
			border-radius: 10px;
			font-size: 20px;
			color: #FFFFFF;
			border: 1px solid #228B22;
			margin-left: 145px;
		}
		#on:hover{
			background-color: red;
			color: #FFFFFF;
			transition: 1.4s
		}
		#on:focus{
			background-color: #4169E1;
			color: #FFFFFF;
		}
		#off{
			width: 65px;
			height: 50px;
			background-color: #0000FF;
			border-radius: 10px;
			font-size: 20px;
			color: #FFFFFF;
			border: 1px solid #FFA500;
		}
		#off:hover{
			background-color: #FFA500;
			color: #FFFFFF;
			transition: 1.4s;
		}
		#off:focus{
			background-color: #008080;
			color: #FFFFFF;
		}
		.slidecontainer {
  			width: 100%;
		}

		.slider {
			  -webkit-appearance: none;
			  height: 15px;
			  border-radius: 5px;
			  background: #d3d3d3;
			  outline: none;
			  opacity: 0.7;
			  -webkit-transition: .2s;
			  transition: opacity .2s;
			  border: 1px solid #2F4F4F;
		}

		.slider:hover {
		 	opacity: 1;
		}

		.slider::-webkit-slider-thumb {
		  -webkit-appearance: none;
		  appearance: none;
		  width: 25px;
		  height: 25px;
		  border-radius: 50%;
		  background: #4169E1;
		  cursor: pointer;
		}

		.slider::-moz-range-thumb {
		  width: 25px;
		  height: 25px;
		  border-radius: 50%;
		  background: #800000;
		  cursor: pointer;
		}
	</style>
</head>
	<script>
		setInterval(function(){
			$.getJSON('/hadata1', function(data){
				$('#hatemp').text(data.result.Temp);
				$('#hahum').text(data.result.Hum);
				$('#halight').text(data.result.Light);
				$('#status').text(data.result.Status);
				$('#hamaxtemp').text(data.maxtemp.Temperature);
				$('#hamaxhum').text(data.maxhum.Humidity);
				$('#hamaxlight').text(data.maxlight.Light);
				$('#hamintemp').text(data.mintemp.Temperature);
				$('#haminhum').text(data.minhum.Humidity);
				$('#haminlight').text(data.minlight.Light);

				var temp = document.getElementById('nd');
				var hum = document.getElementById('da');
				var light = document.getElementById('as');
				var Wind = document.getElementById('gio');
				/*if (data.result.Temp <= 30) {
					temp.style.background = "red";
				}
				if (data.result.Temp > 30 && data.result.Temp <=40) {
					temp.style.background = "blue";
				}
				if (data.result.Temp > 40 && data.result.Temp < 50) {
					temp.style.background = "yellow";
				}
				
				if (data.result.Hum <= 70) {
					hum.style.background = "#483D8B";
				}
				if (data.result.Hum > 70 && data.result.Hum <= 85) {
					hum.style.background = "#20B2AA";
				}
				if (data.result.Hum > 85) {
					hum.style.background = "#808000";
				}*/

			});
		},500);

		var socket = io("http://localhost:5000");
		$(document).ready(function(){
		$("#on").click(function(){
			socket.emit("control-led", "LED-ON");
		});
		$("#off").click(function(){
			socket.emit("control-led", "LED-OFF");
		});
		$("#myRange").change(function(){
            var a = $("#demo").text();
            socket.emit("control-led", a);
        });
	});
	</script>
<body>
	<div class="background">
		<div class="head">
			<!--banner-->
			<div class="w3-container w3-lobster" id="block1">
  				<p class="w3-xxxlarge" style="font-size: 38px; color: #FFFFFF; margin-left: 40px;">Sensors</p>
  				<p class="w3-xxxlarge" style="font-size: 25px; color: #FFFFFF; margin-left: 40px;">NguyenVietHa/Mangcambien</p>
  				<div class="block2" style="margin-left: 400px; margin-top: -100px;">
  					<i class="fas fa-phone-volume" style="font-size: 55px; color: #FFFFFF;"></i><span style="font-size: 22px; color: #FFFFFF;">Contact: <a href="#" style="text-decoration: none; color: #FFFFFF; font-size: 22px;">0399123456</a></span>
  				</div>
  				<div class="block3"></div>
  				<div class="block4" style="margin-left: 655px; margin-top: -79px;">
  					<i class="fas fa-envelope-open-text" style="font-size: 55px; color: #FFFFFF;"></i><span style="font-size: 22px; color: #FFFFFF;"> Email: <a href="#" style="text-decoration: none; color: #FFFFFF; font-size: 22px;">viethaptit@gmail.com</a></span>	
  				</div>
  				<div class="icon1" style="margin-left: 1000px; margin-top: -50px;">
  					<a href="https://www.facebook.com/haviet0610"><img src="http://chittagongit.com/download/289242" width="65" height="65"></a>
  				</div>
  				<div class="icon2" style="margin-left: 1100px; margin-top: -68px;">
  					<a href="https://mail.google.com/mail/u/0/#inbox"><img src="https://techcrunch.com/wp-content/uploads/2012/08/gmail-logo-icon.png?w=300" width="65" height="65"></a>
  				</div>
  				<div style="margin-left: 1200px; margin-top: -60px;">
  					<button type="button" class="btn btn-outline-success" style="font-size: 20px;">Sign up</button>
  				</div>	
			</div>
			<!--iconhome-->
			<div style="background-color: #413C6B; width: 60px; height: 60px; border: 2px solid #FFFFFF; border-radius: 10px;">
				<i class="fas fa-home" style="font-size: 35px; color: #FFFFFF; padding: 8px;"></i>
			</div>
			<!--overview-->
			<div style="background-color: #413C6B; width: 145px; height: 54px; font-size: 28px; margin-left: 60px; margin-top: -56px; color: #FFFFFF; border-radius: 10px; padding: 8px; border: 2px solid #FFFFFF;">Overview</div>
		</div>

		<div class="main">
			<h1 style="color: green; text-align: center; font-weight: bold;">Show data</h1>
			<!--Temperature-->
			<div class="k1" style="background-color: #2F4F4F;" id="nd">
				<p style="text-align: center; color: #FFFFFF; font-size: 24px;">Temperature</p>
				<div style="margin-top: -17px;">
					<img src="https://images.vexels.com/media/users/3/144180/isolated/preview/8e164ee90e658eaf8ec7c4248d301375-fahrenheit-temperature-icon-by-vexel23.png" width="100" height="100">
				</div>
				<div style="margin-left: 100px; margin-top: -90px;">
					<span style="color: #FFFFFF; font-size: 19px;">Temp now: </span><span id="hatemp" style="color: #FFFFFF; font-size: 19px;"></span><span style="color: #FFFFFF; font-size: 19px;">(*C)</span>
				</div>
				<div style="margin-left: 100px;">
					<span style="color: #FFFFFF; font-size: 19px;">Temp max: </span><span id="hamaxtemp" style="color: #FFFFFF; font-size: 19px;"></span><span style="color: #FFFFFF; font-size: 19px;">(*C)</span>
				</div>
				<div style="margin-left: 100px;">
					<span style="color: #FFFFFF; font-size: 19px;">Temp min: </span><span id="hamintemp" style="color: #FFFFFF; font-size: 19px;"></span><span style="color: #FFFFFF; font-size: 19px;">(*C)</span>
				</div>
			</div>

			<!--Humidity-->
			<div class="k1" style="background-color: #2e8b57;" id="da">
				<p style="text-align: center; font-size: 24px; color: #FFFFFF;">Humidity</p>
				<div style="margin-top: -18px;">
					<img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/humidity-1405137-1187424.png" width="100" height="100">
				</div>
				<div style="margin-left: 105px; margin-top: -90px;">
					<span style="color: #FFFFFF; font-size: 19px;">Hum now: </span><span id="hahum" style="color: #FFFFFF; font-size: 19px;"></span><span style="color: #FFFFFF; font-size: 19px;">(%)</span>
				</div>
				<div style="margin-left: 105px;">
					<span style="color: #FFFFFF; font-size: 19px;">Max hum: </span><span id="hamaxhum" style="color: #FFFFFF; font-size: 19px;"></span><span style="color: #FFFFFF; font-size: 19px;">(%)</span>
				</div>
				<div style="margin-left: 105px;">
					<span style="color: #FFFFFF; font-size: 19px;">Min hum: </span><span id="haminhum" style="color: #FFFFFF; font-size: 19px;"></span><span style="color: #FFFFFF; font-size: 19px;">(%)</span>
				</div>
			</div>

			<!--Light-->
			<div class="k1" style="background-color: #008080;" id="as">
				<p style="text-align: center; font-size: 24px; color: #FFFFFF;">Light</p>
				<div style="margin-top: -20px; margin-left: -8px;">
					<img src="http://www.smart-clic.fr/wp-content/uploads/2015/01/light-bulb-icon_34400.png" width="100" height="100">
				</div>
				<div style="margin-left: 90px; margin-top: -90px;">
					<span style="color: #FFFFFF; font-size: 19px;">Light now: </span><span id="halight" style="color: #FFFFFF; font-size: 19px;"></span><span style="color: #FFFFFF; font-size: 19px;">(lux)</span>
				</div>
				<div style="margin-left: 95px;">
					<span style="color: #FFFFFF; font-size: 19px;">Max light: </span><span id="hamaxlight" style="color: #FFFFFF; font-size: 19px;"></span><span style="color: #FFFFFF; font-size: 19px;">(lux)</span>
				</div>
				<div style="margin-left: 95px;">
					<span style="color: #FFFFFF; font-size: 19px;">Min light: </span><span id="haminlight" style="color: #FFFFFF; font-size: 19px;"></span><span style="color: #FFFFFF; font-size: 19px;">(lux)</span>
				</div>
			</div>

			<!--status-->
			<div class="stt">
				<p style="text-align: center; color: #FFFFFF; font-size: 24px;">Status</p>
				<div style="text-align: center;">
					<span style="color: #FFFFFF; font-size: 22px;" id="status"></span>
				</div>
			</div>

		<!--chart-->
		<div style="background-color: #FFFFFF; width: 750px; height: 430px; margin-top: 450px; margin-left: 115px; border-radius: 20px; border: 2px solid #2F4F4F;">
			<h2 style="color: green; text-align: center; font-weight: bold;">Chart real time</h2>
			<div id="chartContainer" style="height: 300px; width: 550px; margin-left: 95px; border: 1px solid red;">
			</div>
			<div class="t1" style="margin-left: 108px; margin-top: 19px;">
				<div style="background-color: red; width: 100px; height: 16px; border-radius: 10px; margin-left: 8px;">
				</div>
				<div style="color: red; font-size: 20px; margin-left: -12px; margin-top: 3px;">Temperature(*C)</div>
			</div>
			<div class="h1" style="margin-left: 315px; margin-top: -48px;">
				<div style="background-color: #6495ED; width: 100px; height: 16px; border-radius: 10px; margin-left: 13px;">
				</div>
				<div style="color: #6495ED; font-size: 20px; margin-left: 10px; margin-top: 4px;">Humidity(%)</div>
			</div>
			<div class="l1" style="margin-left: 518px; margin-top: -52px;">
				<div style="background-color: green; width: 100px; height: 16px; border-radius: 10px; margin-left: 13px; margin-top: 3px;">
				</div>
				<div style="color: green; font-size: 20px; margin-left: 24px;">Light(lux)</div>
			</div>		
		</div>

		<script>
			window.onload = function () {
	        var temp = [];
	        var hum = [];
	  		var light = [];
	        var chart = new CanvasJS.Chart("chartContainer", {
	        backgroundColor: "#ECF0F5",
	        border: "2px solid red",
	        theme: "light2",
	        title :{
	            text: "Daily data sensor at my room"
	        },
	        axisY: {
	        	title: "Temperature, Humidity, Light",
	            includeZero: false
	        },
	          toolTip: {
	            shared: true
	        },
	        data: [
	        
	        {
	            type: "splineArea",
	            dataPoints: light,
	            xValueType: "dateTime",
	            xValueFormatString: "hh:mm:ss TT",
	            name: "Light",
	            color: "green"
	        },
	        {
	            type: "splineArea",
	            dataPoints: hum,
	            xValueType: "dateTime",
	            xValueFormatString: "hh:mm:ss TT",
	            name: "Hum",
	            color: "#6495ED"
	        },
	        
	       	{
	            type: "splineArea",
	            dataPoints: temp,
	            xValueType: "dateTime",
	            xValueFormatString: "hh:mm:ss TT",
	            name: "Temp",
	            color: "#DC143C"
	        }
	        ]
	        });
	        var updateInterval = 1000;
	  		var dataLength = 10;
	  		var time = new Date;
	  		setInterval(function(){ 
	        $.getJSON('/hadata1', function(hdata) {
	            time.setTime(time.getTime()+ 1000);
	            temp.push({
	                x: time.getTime(),
	                y: hdata.result.Temp
	            });
	            hum.push({
	                x: time.getTime(),
	                y: hdata.result.Hum
	            });
	            light.push({
	                x: time.getTime(),
	                y: hdata.result.Light
	            });
	            	chart.render();
	            	if (temp.length > dataLength) {
	        			temp.shift();
	        		}
	        		if (hum.length > dataLength) {
	        			hum.shift();
	        		}
	        		if (light.length > dataLength) {
	        			light.shift();
	        		}
	            });
	        	// if (temp.length > dataLength) {
	        	// 	temp.shift();
	        	// }
	        	// if (hum.length > dataLength) {
	        	// 	hum.shift();
	        	// }
	        	// if (light.length > dataLength) {
	        	// 	light.shift();
	        	// }
	        },1000);
	        };
		</script>

		<!--control led-->
		<div class="control">
			<div style="color: green; font-size: 24px; font-weight: bold; margin-left: 110px; margin-top: 7px;">Led effect</div>
			<div style="margin-top: -40px; margin-left: 60px;">
				<img src="https://cdn2.iconfinder.com/data/icons/industry-3/512/led-512.png" width="45" height="45">
			</div>
			<div style="margin-top: 20px;">
				<img src="https://cdn3.iconfinder.com/data/icons/shadcon/512/bulb-512.png" width="120" height="120">
			</div>
			<div style="font-size: 24px; color: #2F4F4F; font-weight: bold; margin-top: -105px; margin-left: 170px;">Control</div>
			<div class="button1" style="margin-top: 10px;">
				<input type="submit" name="b1" id="on" value="ON">
				<input type="submit" name="b2" id="off" value="OFF">
			</div>

			<!--control slider-->
			<div class="slidecontainer" style="width: 200px; margin-top: 40px; margin-left: 50px;">
	  			<input type="range" min="0" max="255" value="0" class="slider" id="myRange">
	  			<p style="text-align: center;">Value: <span id="demo" style="color: red;"></span></p>
			</div>

			<script>
			var slider = document.getElementById("myRange");
			var output = document.getElementById("demo");
			output.innerHTML = slider.value;

			slider.oninput = function() {
  				output.innerHTML = this.value;
			}
		</script>
		</div>	
	</div>
</body>
</html>